:root {
    --black: #01161e ;
    --dark-blue: #124559;
    --light-blue: #598392;
    --dark-green: #aec3b0;
    --light-green: #eff6e0;
}

.btn-blue{
    background-color: var(--light-blue) !important;
    color: white;
}

#main-body{
    background: var(--light-green);
    background: radial-gradient(circle, var(--light-blue) 0%, var(--dark-green) 100%);
    height: 100vh;
    width: 100vw;
}

.custom-form-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-form{
    background-color: var(--light-green);
    min-height: 300px;
    width: 350px;
    border-radius: 5px;
    padding: 10px 30px;
}

.custom-form-white{
    background-color: white;
}

.custom-form h4{
    font-weight: bold;
    color: var(--dark-blue);
}

.custom-button-blue{
    padding: 5px 20px;
    border-radius: 0px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}
.custom-button-blue{
    background-color: var(--dark-blue);
    color: white;
}

.custom-button-blue:disabled {
    background-color: grey; /* Change background color to grey */
    color: #ccc; /* Change text color to a lighter grey */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    opacity: 0.6; /* Make the button slightly transparent */
}

/*
    DEMO STYLE
*/

#content{
    background-color: var(--light-green);
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--dark-blue) !important;
    border-radius: 5px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--dark-blue);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--dark-blue);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

.list-unstyled.components li{
    background-color: var(--light-blue);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: var(--dark-blue);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--black);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--black);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: var(--dark-blue);
}

a.article,
a.article:hover {
    background: var(--black) !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.page-link {
    color: var(--dark-blue) !important; /* Custom color for text */
}

/* Change the background color and border color of pagination links */
.page-link:hover {
    background-color: var(--dark-blue); /* Background color on hover */
    color: white; /* Text color on hover */
}

/* Change the color of the active pagination link */
.page-item.active .page-link {
    background-color: var(--dark-blue); /* Active background color */
    border-color: var(--dark-blue); /* Active border color */
    color: white !important; /* Active text color */
}